/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Color */
    --white: #FFF;
    --grey-light: #F3F3F3;
    --grey-dark: #9B9BA3;
    --blue: #87C6BD;
    --black: #1D1D1F;

    --max-width: 1200px;
    --fs: 16px;
}

/* Typography */
@font-face {
    font-family: 'Oak Bold';
    src: url('../fonts/oak-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oak Light';
    src: url('../fonts/oak-light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plantin Light';
    src: url('../fonts/plantin-light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oak Bold', sans-serif;
    color: var(--black);
}

p {
    font-family: 'Plantin Light', serif;
    color: var(--grey-dark);
    font-size: 1rem;
    line-height: 1.5;
}


/* Global Style */
body {
    background-color: var(--white);
    font-family: 'Oak Bold', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Utility Classes */

/* Custom Style */