/* Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Typography */
@font-face {
    font-family: 'Oak Bold';
    src: url('../fonts/oak-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oak Light';
    src: url('../fonts/oak-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plantin Light';
    src: url('../fonts/plantin-light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* Variables */
:root {
    /* Colors */
    --white: #FFF;
    --light-grey: #F3F3F3;
    --dark-grey: #9B9BA3;
    --blue: #87C6BD;
    --black: #1D1D1F;

    /* Fonts */
    --ff-bold: 'Oak Bold', sans-serif;
    --ff-primary: 'Oak Light', sans-serif;
    --ff-secondary: 'Plantin Light', serif;
    --fs-base: 16px;

    /* Spacing & Sizing */
    --max-width: 1200px;
}


/* Global Style */
body {
    background-color: var(--white);
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    color: var(--black);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-bold);
    color: var(--black);
}

p {
    font-family: var(--ff-secondary);
    font-weight: 400;
    color: var(--dark-grey);
    font-size: 1rem;
    line-height: 1.85rem;
    letter-spacing: .05rem;
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}


/* Utility Classes */
.bg--white {
    background-color: var(--white);
}

.bg--light-grey {
    background-color: var(--light-grey);
}

.bg--dark-grey {
    background-color: var(--dark-grey);
}

.bg--blue {
    background-color: var(--blue);
}

.hidden {
    display: none;
}

.h4 {
    font-family: var(--ff-bold);
    font-size: 1.25rem;
    letter-spacing: .1rem;
}

.h6 {
    font-family: var(--ff-bold);
    font-size: .75rem;
    letter-spacing: .15em;
}

.text-blue {
    color: var(--blue);
}


/* Custom Style */
/* HEADER */
.header {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .navbar__item a {
        display: inline-block;
        text-transform: uppercase;
        font-family: var(--ff-bold);
        font-size: .875rem;
        letter-spacing: .125rem;

        &:hover, &:active {
            color: var(--blue);
        }
    }
}

.navbar__menu {
    --bar-height: 3px;
    --bar-width: 30px;

    width: var(--bar-width);
    display: flex;
    flex-direction: column;
    gap: calc(2px + var(--bar-height));
    cursor: pointer;
    position: fixed;
    right: var(--bar-width);

    > .bar {
        display: block;
        height: var(--bar-height);
        width: var(--bar-width);
        background-color: var(--black);
    }
}

/* MAIN */
.section {
    margin: 0 auto;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 0;
}

/* TODO: Make the center depending on vh size */
.section--hero {
    height: 100dvh;
    gap: 10dvh;

    .hero__logo {
        height: 57px;
        width: 200px;
    }

    .hero__image {
        width: 280px;
        height: 475px;
    }
}

.section__title, .section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TODO : Animate this for later */
.letter--animated {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 1rem;

    &:after {
        content: '';
        display: block;
        width: 6rem;
        height: 4px;
        background-color: var(--black);
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
        margin-left: -1rem;
    }
}

/*.section__content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.service {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625rem;
    gap: .625rem;

    .service__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .625rem;
        font-family: var(--ff-bold);
        font-size: .875rem;

        /* TODO : Delete this for later */
        width: 150px;
        height: 125px;
    }
}

.bio {
    padding: 2.5rem .625rem;
    display: flex;

    .bio__intro {
        font-family: var(--ff-secondary);
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: right;

        flex: 1;
        padding: 1.25rem;
        width: 30%;
    }

    .bio__description {
        flex: 2;
        padding: 1.25rem;
        column-count: 2;
        column-gap: 2rem;
    }
}

.work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 6rem;
}
/* TODO : Even/odd to simulate left/right */

.work__item {
    position: relative;
}

.work__link {
    text-align: center;
    position: relative;
    line-height: 1.5rem;

    > span {
        display: block;
        position: relative;
    }
}
